

<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <a class="navbar-brand" href="{% url 'djangoapp:home' %}">DealerApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'djangoapp:home' %}">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'djangoapp:about' %}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact</a>
      </li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      
      {% if user.is_authenticated %}
      <li>
        <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
        <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
      </li>
      {% else %}  
      <li>
          <form class="form-inline" action="#" method="post">
              {% csrf_token %}
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Username" name="username" >
                  <input type="password" class="form-control" placeholder="Password" name="password" >
                  <button class="btn btn-primary" type="submit">Login</button>
                  <!-- Button trigger modal -->
                  <a type="button" href="{% url 'djangoapp:signup' %}" class="btn btn-outline-secondary">
                    Register
                  </a>
              </div>
          </form>
      </li>
      {% endif %}
        
      
  
</nav>