{% extends 'djangoapp/index.html' %}
{% block title %}Review{% endblock %}

{% block content %}
<main role="main" class="d-flex justify-content-center pt-3">
    <form class="border boder-dark p-4 w-auto h-auto text-center bg-light" action="{% url 'djangoapp:add_review' dealer_id %}" method='post'>
        {% csrf_token %} 
        <h1 class="text-center"><b>{{dealer_name}}'s review form</b></h1>
        <br>
        <label class="form-label" for="name"><b>Name</b></label>
        <br>
        <input class="form-control" type="text" placeholder="Enter your name: " name='name' required>
        <label for='content'><b>Review</b></label>
        <br>
        <textarea class="form-control" id='content' name='content' rows='2' required placeholder="Write your review..."></textarea>
        <br>
        <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck">
        <label for="purchasecheck"><b>Was purchase made in this dealership?</b></label>
        <br>
        <label for="car"><b>Select vehicle</b></label>
        <br>
        <select id="car" name="car" class="form-select form-select-sm">
            <option value="" selected>Please select car</option>
            {% for car in cars %}
                <option selected value="{{car.make.name}}|{{car.name}}|{{ car.year|date:'Y' }}">{{ car.year|date:"Y" }} {{car.make.name}} {{car.name}}</option>
            {% endfor %}
       </select>
        <br>
        <label for="purchase_date"><b>Enter Purchased Date</b></label>
        <input class="date-own form-control" type='date' name="purchase_date" id="purchase_date">
        <br>
        <button class="btn btn-primary btn-lg" type="submit">Submit Review</button>
    </form>
</main>
{% endblock content %}
    